@model SolicitaRH.Models._Acao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="display-label">Nome: <strong>@Model.Acao.Nome</strong></div>

<div class="display-label">Etapa seguinte: <strong>@Model.EtapaSeguinte.Nome</strong></div>

<div class="display-label">Texto de confirmação: <strong>@Model.Acao.TextoConfirmacao</strong></div>

<div class="display-label">Atendente visualiza: <strong>@Html.DisplayFor(model => model.Acao.AtendenteVisualiza)</strong></div>

<div class="display-label">Marca atendente: <strong>@Html.DisplayFor(model => model.Acao.MarcaAtendente)</strong></div>

<div class="display-label">Permite transferência: <strong>@Html.DisplayFor(model => model.Acao.PermiteTransferencia)</strong></div>

<div class="display-label">Usuário visualiza: <strong>@Html.DisplayFor(model => model.Acao.UsuarioVisualiza)</strong></div>

<div class="display-label">Exige planejamento: <strong>@Html.DisplayFor(model => model.Acao.ExigePlanejamento)</strong></div>

<div class="display-label">Exige justificativa: <strong>@Html.DisplayFor(model => model.Acao.ExigeJustificativa)</strong></div>

<p>
        <br />                
        <button type="button" class=" btn btn-inverse " onclick="location.href='@Url.Action("Index", "Acao")'">
            <i class="icon-arrow-left icon-white icone "></i> Voltar
        </button>
</p>
