@model SolicitaRH.Models.Etapa

@{
    ViewBag.Title = "Editar etapa";
    IEnumerable<SolicitaRH.Models._EtapaAcao> mEtapaAcao = ViewBag.mEtapaAcao;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.EtapaId)
    
    <div class="editor-label">
        @Html.LabelFor(model => model.EPrimeiraEtapa)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.EPrimeiraEtapa)
        @Html.ValidationMessageFor(model => model.EPrimeiraEtapa)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Nome)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Nome)
        @Html.ValidationMessageFor(model => model.Nome)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.PermiteInteracao)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PermiteInteracao)
        @Html.ValidationMessageFor(model => model.PermiteInteracao)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Desativado)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Desativado)
        @Html.ValidationMessageFor(model => model.Desativado)
    </div>

    <div class="editor-label">Ações: </div>
    foreach (SolicitaRH.Models._EtapaAcao item in mEtapaAcao){ 
        <div>
            @if( item.EtapaAcao != null ){
                <input type="checkbox" name="AcaoId" id="AcaoId-@item.Acao.AcaoId" value="@item.Acao.AcaoId" checked />
            } else {
                <input type="checkbox" name="AcaoId" id="AcaoId-@item.Acao.AcaoId" value="@item.Acao.AcaoId" />
            }
            @item.Acao.Nome
        </div>
    }

    <p>
        <br />
        <input type="submit" value="Salvar" class="btn btn-success" />

        <button type="button" class=" btn btn-inverse " onclick="location.href='@Url.Action("Index", "Etapa")'">
            <i class="icon-arrow-left icon-white icone "></i> Voltar 
        </button>
    </p>
}