@model IEnumerable<SolicitaRH.Models.Etapa>

@{
    ViewBag.Title = "Etapas";
    var Mensagem = TempData["Mensagem"];
}

<h2>@ViewBag.Title</h2>

<!-- Cadastrar -->
<p>
    <button type="button" class=" btn btn-primary btn-small" onclick="location.href='@Url.Action("Create","Etapa")'">
        <i class="icon-plus icon-white icone "></i> Cadastrar
    </button>
</p>

<!-- Tabela de dados -->
<table width="100%">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Identificador
        </th>
        <th>
            Permite interação
        </th>
        <th>
            Desativado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EtapaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PermiteInteracao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desativado)
        </td>
        <td>
            <button type="button" class=" btn btn-info btn-mini" onclick="location.href='@Url.Action("Details", "Etapa", new { id = item.EtapaId })'">
                <i class="icon-tasks icon-white icone"></i> Detalhes
            </button>
            <button type="button" class=" btn btn-warning btn-mini" onclick="location.href='@Url.Action("Edit", "Etapa", new { id = item.EtapaId })'">
                <i class="icon-wrench icon-white icone"></i> Editar
            </button>
                <button type="button" class=" btn btn-danger btn-mini" onclick="location.href='@Url.Action("Delete", "Etapa", new { id = item.EtapaId })'">
                <i class="icon-remove icon-white icone"></i> Excluir
            </button>
        </td>
    </tr>
}

</table>

<script>
    $(document).ready(function () {
        
        @if (Mensagem != null && Mensagem != "") {
            @: ExibeMensagem("@Mensagem", "Sucesso");
        }
    });
</script>
