@model SolicitaRH.Models.Celula

@{
    ViewBag.Title = "Editar célula";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.CelulaId)

    <div class="editor-label">
        @Html.LabelFor(model => model.Nome)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Nome)
        @Html.ValidationMessageFor(model => model.Nome)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Prioridade)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Prioridade)
        @Html.ValidationMessageFor(model => model.Prioridade)
    </div>

    <p>
        <input type="submit" value="Salvar" class="btn btn-success" />

        <button type="button" class=" btn btn-inverse " onclick="location.href='@Url.Action("Index", "Celula")'">
            <i class="icon-arrow-left icon-white icone "></i> Voltar
        </button>
    </p>
}
